<!DOCTYPE html>
<html>
<head>
  <link href="https://fonts.googleapis.com/css?family=Roboto:100,300,400,500,700,900" rel="stylesheet">
  <link href="https://cdn.jsdelivr.net/npm/@mdi/font@4.x/css/materialdesignicons.min.css" rel="stylesheet">
  <link href="https://cdn.jsdelivr.net/npm/vuetify@2.x/dist/vuetify.min.css" rel="stylesheet">
  <meta name="viewport" content="width=device-width, initial-scale=1, maximum-scale=1, user-scalable=no, minimal-ui">
  <title>MediaServer</title>
</head>
<body>
{% raw %}
<v-app id="mediaprocessor">

  <v-app-bar
    app
  >
    <v-toolbar-title>MediaServer</v-toolbar-title>
  </v-app-bar>

  <v-content>
    <v-container fluid>
      <!--         Загрузка файлов для обработки -->
      <v-row
        align="center"
        justify="center"
      >
        <v-col cols="10">
          <v-card>
            <v-card-title>
              Загрузка видео для обработки
            </v-card-title>
            <v-card-actions>
              <v-file-input
                label="Выберите файл"
                :loading="filesLoading"
                show-size
                small-chips
                v-model="fileForDownload"
                @change="catchFiles"
              ></v-file-input>
            </v-card-actions>
            <v-card-actions>
              <v-btn
                color="primary"
                @click="saveFile"
                :disabled="sendButtonDisabled"
                small
                :loading="loading"
              >
                загрузить файл
              </v-btn>
            </v-card-actions>
            <v-card-text v-if="uplodedFileLink">
              <p>Ссылка на загруженный файл</p>
              <!--              <video width="480">-->
              <!--                <source :src="uplodedFileLink" type="video/avi">-->
              <!--              </video>-->
              <a :href="uplodedFileLink">{{ uplodedFileLink }}</a>
            </v-card-text>
          </v-card>
        </v-col>
      </v-row>
      <!--         Загрузка файлов кампаний -->
      <v-row
        align="center"
        justify="center"
      >
        <v-col cols="10">
          <v-card>
            <v-card-title>
              Загрузка видео для кампаний
            </v-card-title>
            <v-card-actions>
              <v-file-input
                label="Выберите файл"
                :loading="filesLoading"
                show-size
                small-chips
                v-model="fileForCampaign"
                @change="catchFiles"
              ></v-file-input>
            </v-card-actions>
            <v-card-actions>
              <v-btn
                color="primary"
                @click="saveCampaignFileFile"
                :disabled="sendCampaignButtonDisabled"
                small
                :loading="loading"
              >
                загрузить файл
              </v-btn>
            </v-card-actions>
            <v-card-text v-if="uplodedCampaignFileLink">
              <p>Ссылка на загруженный файл</p>
              <!--              <video width="480">-->
              <!--                <source :src="uplodedFileLink" type="video/avi">-->
              <!--              </video>-->
              <a :href="uplodedCampaignFileLink">{{ uplodedCampaignFileLink }}</a>
            </v-card-text>
          </v-card>
        </v-col>
      </v-row>
       <!--         Загрузка Картинок резкльтатов -->
      <v-row
        align="center"
        justify="center"
      >
        <v-col cols="10">
          <v-card>
            <v-card-title>
              Загрузка Картинок результатов
            </v-card-title>
            <v-card-actions>
              <v-file-input
                label="Выберите файл"
                :loading="filesLoading"
                show-size
                small-chips
                v-model="pictureFile"
                @change="catchFiles"
              ></v-file-input>
            </v-card-actions>
            <v-card-actions>
              <v-btn
                color="primary"
                @click="savePictureFile"
                :disabled="sendPictureButtonDisabled"
                small
                :loading="loading"
              >
                загрузить файл
              </v-btn>
            </v-card-actions>
            <v-card-text v-if="uplodedPictureFileLink">
              <p>Ссылка на загруженный файл</p>
              <!--              <video width="480">-->
              <!--                <source :src="uplodedFileLink" type="video/avi">-->
              <!--              </video>-->
              <a :href="uplodedPictureFileLink">{{ uplodedPictureFileLink }}</a>
            </v-card-text>
          </v-card>
        </v-col>
      </v-row>

      <!--      Просмотр файлов-->
      <v-row
        align="center"
        justify="center"
      >
        <v-col cols="10">
          <v-card>
            <v-card-title>
              Просмотр списка файлов
            </v-card-title>
            <v-card-actions>
              <iframe ref="fileList" :src="iframeLocation" width="600" height="200">
                Ваш браузер не поддерживает плавающие фреймы!
              </iframe>
            </v-card-actions>

            <v-card-actions>
              <v-btn
                color="primary"
                @click="toPreviousLocation"
                small
              >
                назад
              </v-btn>
            </v-card-actions>
          </v-card>
        </v-col>
      </v-row>
    </v-container>
  </v-content>

  <v-footer
    app
  >
    <span class="px-4">&copy; {{ new Date().getFullYear() }}</span>
  </v-footer>
</v-app>
{% endraw %}
<script src="https://cdn.jsdelivr.net/npm/vue@2.x/dist/vue.js"></script>
<script src="https://cdn.jsdelivr.net/npm/vuetify@2.x/dist/vuetify.js"></script>
<script src="https://unpkg.com/axios/dist/axios.min.js"></script>
<script>
  // download/image
  new Vue({
    el: '#mediaprocessor',
    vuetify: new Vuetify(),
    data: {
      filesLoading: false,
      fileForDownload: null,
      fileForCampaign: null,
      pictureFile: null,
      uplodedFileLink: null,
      uplodedCampaignFileLink: null,
      uplodedPictureFileLink: null,
      fileForFinding: null,
      findingImages: [],
      maxImageForDownloadCount: 5,
      loading: false,
      iframeLocation: '/mediaserver/file-browser',
      videoStreamUrl: ''
    },
    computed: {
      sendButtonDisabled() {
        return !this.fileForDownload
      },
      sendCampaignButtonDisabled() {
        return !this.fileForCampaign
      },
      sendPictureButtonDisabled() {
        return !this.pictureFile
      },
      findButtonDisabled() {
        return !this.fileForFinding
      }

    },
    methods: {
      catchFiles(eventPayload) {
        console.log("eventPayload", eventPayload)
        console.log("this.filesForDownload", this.fileForDownload)
        this.uplodedFileLink = null
      },
      toPreviousLocation() {
        console.log(this)
        this.$refs.fileList.contentWindow.history.back()
      },
      // showFilesList() {
      //   window.open('download/media',
      //     'Stored files list',
      //     'top=80,left=80,width=620,height=630,resizable,scrollbars=yes,status,location=1,toolbar=yes,menubar'
      //   )
      // },
      sendFile(file, url) {
        return axios({
          method: 'post',
          url: url,
          data: file,
          headers: {
            'Content-Type': file.type,
            'Content-Disposition': file.name
          }
        }).then(response => {
          console.debug('response', response)
          return response.data
        }).catch(error => {
          console.warn(error.response)
          console.dir(error.response)
          alert(error.response.statusText || error.response.data)
          throw new Error('Error in request')
        })
      },
      saveFile() {
        this.loading = true
        console.log(this.fileForDownload)
        this.sendFile(this.fileForDownload, "/mediaserver/api/upload-video")
          .then((data) => {
            // alert('Файл загружен.')
            // this.fileForDownload = null
            this.uplodedFileLink = data.result_video_url
          })
          .catch(() => {
          })
          .finally(() => {
            this.loading = false
          })
      },
      saveCampaignFileFile() {
        this.loading = true
        console.log(this.fileForCampaign)
        this.sendFile(this.fileForCampaign, "/mediaserver/api/upload-campaign-video")
          .then((data) => {
            // alert('Файл загружен.')
            // this.fileForDownload = null
            this.uplodedCampaignFileLink = data.result_video_url
          })
          .catch(() => {
          })
          .finally(() => {
            this.loading = false
          })
      },
      savePictureFile() {
        this.loading = true
        console.log(this.pictureFile)
        this.sendFile(this.pictureFile, "/mediaserver/api/upload-results-pictures-files")
          .then((data) => {
            // alert('Файл загружен.')
            // this.fileForDownload = null
            this.uplodedPictureFileLink = data.result_video_url
          })
          .catch(() => {
          })
          .finally(() => {
            this.loading = false
          })
      }
    }
  })
</script>
</body>
</html>